*{
    margin: 0;
    text-decoration: none;
    
}
body{
    background-color: black;
}
video{
    position: absolute;
}

.container{
    
    width: 100px;
    height: 100%;
    position: absolute;
    text-align: center;
    color: white;
}
.container-left{
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 30px;
    text-align: center;
    gap: 20px;
}
.various{
    position: relative;
    width: 500px;
    height: 30px;
    font-size: x-large;
    bottom: 150px;
}
.variouss{
    color: white;
}
.Subscribe{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: xx-large;
    font-size: x-large;
    bottom: 180px;
   
}
.sub{
    background-color: gray;
    color: white;
    border-radius: 10px;
    
}
.subs{
    background-color: gray;
    left: 100px;
    position: relative;
    width: 100px;
    color: white;
    border-radius: 10px;
}
.link-movie{
    position: relative;
    color: white;
   
}
.link-movies{
    color: white;
}
span{
    position: relative;
    bottom: 3px;
    font-size:30px;
}
#img{
    color: white;
   
}
.imge{
    width: 50px;
    height: 40px;
    position: relative;
    top: 10px;
    color: yellow;
}
a{
    color: white;
}
.ico{
    width: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    position: relative;
    bottom: 500px;
}
.subsc{
    position: relative;
    bottom: 250px
}
.section{
    position: relative;
    margin-top: 50px;
    left: 100px;
    display: grid;
    text-align: left;
    width: 500px;
    
}
.section1{
    width: 1200px;
    position: relative;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
}
#img{
    border: 2px solid white;
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 20px;
}

/* media screen */

@media screen and (max-width: 700px){
    video{
        position: absolute;
    }
    #img{
        
        width: 100px;
        height: 50px;
        position: relative;
        
    }
    .section1{
        width: 600px;
        position: relative;
        height: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        align-items: center;
       
    }
    .section{
        position: relative;
        margin-top: 50px;
        left: 100px;
        display: grid;
        text-align: left;
        width: 400px;
        font-size: 6px;
        align-items: center;
        top: -30px;
    }
    #img:hover{
        transition: 1s;
    }
    .head:hover{
        color: red;
    }
    
    .footer{
        position: relative;
        width: 200px;
        height: 10px;
        font-size: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        left: 50px;
        gap: 100px;
        background-color: black;
        margin-bottom: 10px;
        
    }
    .foot{
        color: rgb(236, 9, 9);
        width: 50px;
        font-size: 2px;
        text-align: left;
    }
    .movie-title{
        font-size: xx-large;
    }
    .content{
        position: relative;
        font-size: 6px;
        bottom: 120spx;
    }
}
#img:hover{
    transition: 1s;
    transform: scale(2);
}
.movie-title{
    font-size: xxx-large;
}
.New-release{
    color: blue;
    position: relative;
    bottom: 40px;
    font-size: x-large;
}
.link-movies{
    position: relative;
    font-size: x-large;
    bottom: 80px;
}
.content{
    position: relative;
    font-size: x-large;
    bottom: 120px;
}
.head,.img{
    position: relative;
    bottom: 180px;
}
.footer{
    position: relative;
    width: 1200px;
    height: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 100px;
    gap: 100px;
    background-color: black;
    margin-bottom: 20px;
}
.foot{
    color: white;
    width: 200px;
    font-size: 12px;
    text-align: left;
}








